ul {
  background-color:#1f7a7a; 
  background-size:10px;
} 
a {
  font-family:arial;
  color:white;
  text-decoration:none;
}
ul 
{ 
  list-style-type:none; 
  padding:20px;
}
li {
  margin-left:30px;
  display: inline;
}
a:hover{
  text-decoration:underline;
}

li:first-child{
  float: right;
  margin-right: 50px;
  border-width:2px;
  border-style:solid;
  border-color:white;
}

li{
  font-size: 15pt;
}

@media screen and (max-width:600px) {
  ul {
    background-color:#0e5f5f; 
    background-size:10px;
  } 
  a {
    font-family:arial;
    color:white;
    text-decoration:none;
  }
  ul 
  { 
    list-style-type:none; 
    padding:20px;
  }
  li {
    margin-left:190px;
    text-align:list-item;
    display: block;
  }
  a:hover{
    text-decoration:underline;
  }
  li:first-child{
      float: center;
      margin-right: 190px;
      border-width:2px;
      border-style:solid;
      border-color:white;
    }

  li{
    font-size: 15pt;
  }
}